#iframe-previewer {
   width: 100vw;
   height: calc(100vh - 60px);
}

img {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: -webkit-crisp-edges;
   image-rendering: crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated; 
   -ms-interpolation-mode: nearest-neighbor;
}

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"] {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: -webkit-crisp-edges;
   image-rendering: crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated; 
   -ms-interpolation-mode: nearest-neighbor;
}

