<div class="mdc-layout-grid header-container" style="padding:0">
   <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
      <h2>{{ headerTitle }}</h2>
   </div>
   <div id="settings-container" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
      <a class="btn-notification" routerLink="." title="Notifications">
         <i class="material-icons notification-icon">notifications</i> 
      </a>

      <a class="btn-setting" routerLink="." title="Settings">
         <i class="material-icons settings-icon">settings</i> 
      </a>
   </div>
</div>